.heading {
    border-bottom: 1px solid #cac6c6;
    background-color: white;
}
body {
    background-color: #f3f2f2;
    margin: 0px;
}
.logo {
    margin-left: 20px;
    width: 90px;
}
.user_name {
    float: right;
    margin-top: 35px;
    margin-right: 30px;
}
.logout {
    float: right;
    margin-top: 35px;
    margin-right: 45px;
}
.gallery {
    width: 40px;
    position: relative;
    left: 75px;
    top: -23px;
}
a:link {
    text-decoration: none;
    font-family: monospace;
    font-size: 17px;
}
.post {
    font-size: 30px;
    color: #2f2e2f;
    position: relative;
    top: 12px;
    margin-left: 15px;
    float: left;
}
.cam {
    font-size: 30px;
    color: #2f2e2f;
    position: relative;
    top: 12px;
    margin-left: 15px;
    float: left;
}
.upload {
    margin-top: 120px;
    position: relative;
    left: -322px;
}
.upload_button {
    margin-top: 120px;
    margin-left: 10px;
    position: relative;
    left: -350px;
}
.gal {
    font-size: 30px;
    color: #2f2e2f;
    position: relative;
    top: 12px;
    margin-left: 15px;
    float: left;
}
   .user_gal {
    font-size: 30px;
    color: #2f2e2f;
    position: relative;
    top: 12px;
    margin-left: 15px;
    float: left;
}
.password {
    margin-top: 15px;
    margin-bottom: 15px;
}
.P_title {
    font-family: monospace;
    font-size: 15px;
}
.E_title {
    font-family: monospace;
    font-size: 15px;
}
.email {
    margin-bottom: 15px;
}
.U_title {
    font-family: monospace;
    font-size: 15px;
}
.username {
    margin-bottom: 15px;
}
.prefence{
    margin-bottom: 15px;
}
.prefence_2{
}
.Pr_title {
    font-family: monospace;
    font-size: 15px;
}
.yes {
    font-family: monospace;
    font-size: 15px;
}
.no {
    font-family: monospace;
    font-size: 15px;
}
.enotification {

}
    .foot {
    font-size: 10px;
    margin-top: 670px;
    border-top: 1px solid dimgrey;
    padding: 5px;
    background-color: white;
    height: 700px;
}
main {
    width: 600px;
    margin-top: 100px;
    margin-left: 370px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
}
form {
    width: 500px;
    margin: auto;
}